@using ACT.ViewModel;
@model UserCategoryViewModel


@Html.Partial("~/Views/Common/_LevelSearchPartialView.cshtml")
<div class="form-group row">
    <label class="control-label col-md-1" for="SearchName">@Html.DisplayNameFor(x => x.Name)</label>
    <div class="col-md-3">
        <input class="form-control input-sm text-box single-line" id="SearchName" type="text" value="">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a id="search-btn" onclick="SearchDataTable();" class="btn  yellow filter-submit margin-bottom  pull-right"><i class="fa fa-search"></i> بحث</a>
    </div>
</div>